body{
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}   

nav{

    background-color: #333;
    text-align: center ;
    padding: 10px;
    list-style: none;
}
nav ul {
   
    list-style: none;
}
nav ul li a {
    color: white;
    margin: 0 15px;
    text-decoration:none;
    font-size: 18px;
    list-style: none;
}
nav ul li :hover {
    text-decoration: rgb(131, 159, 242);
    color:aqua;
}